{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject %}
Topic deleted
Hello {{ user }}, {{ changer }} has deleted a Topic on {{ project }}
Topic #{{ ref }} {{ subject }}

---
The Calendar.ly Team
{% endtrans %}
