{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name, ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("epic", project.slug, snapshot.ref) %}
New Topic created
Hello {{ user }}, {{ changer }} has created a new Topic on {{ project }}
See Topic #{{ ref }} {{ subject }} at {{ url }}

---
The Calendar.ly Team
{% endtrans %}
