{% trans %}
Thank you for registering in Calendar.ly

We hope you enjoy it

Calendar.ly's aim is to make the content creation process easy and streamlined in order to enable you to react with speed when the scenarios change.

We built it to infuse order, simplicity and full transparency for all team members and stakeholders.

--
The Calendar.ly Team
{% endtrans %}
{% trans url=resolve_front_url('cancel-account', cancel_token) %}
You can cancel your account: {{ url }}
{% endtrans %}
