{% extends "emails/updates-body-text.jinja" %}
{% block head %}
{% trans user=user.get_full_name(), changer=changer.get_full_name(), project=project.name,ref=snapshot.ref, subject=snapshot.subject, url=resolve_front_url("userstory", project.slug, snapshot.ref) %}
Post updated
Hello {{ user }}, {{ changer }} has updated a Post on {{ project }}
See Post #{{ ref }} {{ subject }} at {{ url }}
{% endtrans %}
{% endblock %}
